<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blog App</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="stylesheet/app.css">
</head>
<body>
            <div class="main-container">
                    <div class="container">
                        <div class="head">Medium</div>
                        <div class="para" style="color: white;">Discover Stories, Articles and Research Work From Gla Students</div>
                    </div>
                    <div class="click-container">
                        <a class="item" href="/">Home</a>
                        <a class="item" href="/blogs/new">Add New Article</a>
                    </div>
            </div>
</body>
</html>